<div class="grid-cont grid-cont--small">
  <h2>The Power of Many Tools.<br class="removed-sm"> In One Cloud Content Governance Platform.</h2>
  <p class="mt-100 tc--dark">Enable secure enterprise file sharing for your business. Employees gain the freedom<br class="removed-md"> to roam, without the hassles of VPN. Admins gain full control and visibility over<br class="removed-md"> content—no matter the device, app, cloud&nbsp;or&nbsp;location.</p>
</div>