<div class="mt-500 ms-features">
  <div class="grid-cont grid-cont--xl">
    <h2 class="ta--center h2">{{ content.field_egnyte_tabs__title[0] }}</h2>
    <div class="mt-200 tabs tabs--large">
       {% include tabs_module_path ~ '/templates/tabs.html.twig' %}   
    </div> 
    <div>
      {{ content.field_egnyte_tabs__items }} 
    </div>
  </div>       
</div>