<div class="industry-features">
<div class="divider"></div>
  <div class="grid-cont">
    <h2 class="h2">{{ content.field_egnyte_2column_cont__ti[0] }}</h2>
    <p class="h2">{{ content.field_egnyte_2column_cont__text[0] }}</p>
    {{ content.field_egnyte_2column_cont_item }}
  </div>
</div>