<div class="mt-250 solution-transform__item">
    <div class="grid-row">
        <div class="grid-col grid-col--auto">
                <img src="{{ image }}" alt="{{ image_alt }}" width="40" height="40">
        </div>
        <div class="grid-col">
             <h4 class="h4">{{ content.field_egnyte_two_column__item_ti[0] }}</h4>
             <p class="mt-50 p p--small tc--dark">{{ content.field_egnyte_two_column__item_tx[0] }}</p>
        </div>
    </div>
</div>