<div class="{{ four_column_block_theme_class }}">
  <div class="grid-cont grid-cont--xl">
    <div class="mt-150 grid-row grid-row--smg">
      <h2 class="tc--white h2">{{ content.field_egnyte_four_column__title[0] }}</h2>
      {{ content.field_egnyte_four_column__widget }}
    </div>
  </div>
</div>
