<div class="trusted-by">
<div class="grid-cont trusted-by__grid-cont">
<h4 class="h4 trusted-by__title">{{ content.field_egnyte_trusted_by__title[0] }}</h4>


<div class="mt-50 grid-row grid-row--aic">
<div class="mt-250 grid-col grid-col--md-3 grid-col--sm-4">
<figure><figure><img alt="Balfour Beatty" height="20" src="https://www.egnyte.com/sites/default/files/2020-12/balfour-beatty.svg" width="120"></figure></figure></div>


<div class="mt-250 grid-col grid-col--md-3 grid-col--sm-4">
<figure><figure><img alt="BuzzFeed" height="22" src="https://www.egnyte.com/sites/default/files/2020-12/buzzfeed.svg" width="131"></figure></figure></div>


<div class="mt-250 grid-col grid-col--md-3 grid-col--sm-4">
<figure><figure><img alt="M&amp;C Saatchi" height="21" src="https://www.egnyte.com/sites/default/files/2020-12/m%26c-saatchi%20%281%29.jpg" width="113"></figure></figure></div>


<div class="mt-250 grid-col grid-col--md-3 grid-col--sm-4">
<figure><figure><img alt="Yamaha" height="23" src="https://www.egnyte.com/sites/default/files/2020-12/yamaha%20%281%29.svg" width="106"></figure></figure></div>


<div class="mt-250 grid-col grid-col--md-3 grid-col--sm-4">
<figure><figure><img alt="Steve Madden" height="20" src="https://www.egnyte.com/sites/default/files/2020-12/steve-madden.svg" width="130"></figure></figure></div>


<div class="grid-col grid-col--12 removed-md"></div>


<div class="mt-250 grid-col grid-col--md-3 grid-col--sm-4">
<figure><figure><img alt="travere" class="wp-image-12091" data-entity-type="file" data-entity-uuid="9e6c9362-f2dc-4216-be76-e3e52e3d2d35" height="30" src="https://www.egnyte.com/sites/default/files/2020-12/travere%402x%20%281%29.png" width="135"></figure></figure></div>


<div class="mt-250 grid-col grid-col--md-3 grid-col--sm-4">
<figure><figure><img alt="GP. Bullhound" height="36" src="https://www.egnyte.com/sites/default/files/2020-12/bullhound.png" width="140"></figure></figure></div>


<div class="mt-250 grid-col grid-col--md-3 grid-col--sm-4">
<figure><figure><img alt="NFP" height="27" src="https://www.egnyte.com/sites/default/files/2020-12/nfp%20%281%29.svg" width="110"></figure></figure></div>


<div class="mt-250 grid-col grid-col--md-3 grid-col--sm-4">
<figure><figure><img alt="S&amp;ME" height="34" src="https://www.egnyte.com/sites/default/files/2020-12/s%26me%402x.png" width="42"></figure></figure></div>


<div class="mt-250 grid-col grid-col--md-3 grid-col--sm-4">
<figure><figure><img alt="Joeris" height="20" src="https://www.egnyte.com/sites/default/files/2020-12/joeris%402x.png" width="106"></figure></figure></div>
</div>
</div>
</div>