<div class="mt-500 careers-map">
  <div class="careers-map__bg">
    <img src="img/careers-map/bg.png" srcset="img/careers-map/bg@2x.png 2x" width="100%" height="" alt="" />
      {{ content.field_egnyte_careers_map__items }}
  </div>
  <div class="grid-cont">
    <h5 class="removed-sm">{{ content.field_egnyte_careers_map__title }}</h5>
    <div class="careers-map__tabs">
      <a href="#" class="">Mountain View, CA</a>
      <a href="#" class="">Spokane, WA</a>
      <a href="#" class="">Raleigh, NC</a>
      <a href="#" class="">EMEA, UK</a>
      <a href="#" class="">Poznań, Poland</a>
      <a href="#" class="">Mumbai, India</a>
      <a href="#" class="">Remote</a>
    </div>
  </div>
</div>