
{% if theme == 'Green' %}
<div class="mt-500 industry-platform">
    <div class="grid-cont grid-cont--xl">
        <h2 class="h2">{{ content.field_egnyte_platform__title[0] }}</h2>
    </div>
    <div class="mt-250 industry-platform__figure" style="background-image: url(https://www.egnyte.com/sites/default/files/inline-images/fH8dMKSUpgn0tkCnBngWeoNTmYEDr0JUlvZWoyc8q1qtwZ5apc.jpg)">
        <img src="https://www.egnyte.com/sites/default/files/2021-07/Egnyte-for-Life-Sciences-Enable.png" width="1408" height="649" alt="" class="industry-platform__image">
    </div>
</div>
{% endif %}


{% if theme == 'Blue' %}
<div class="mt-500 industry-platform">
    <div class="grid-cont grid-cont--xl">
        <h2 class="h2" >{{ content.field_egnyte_platform__title[0] }}</h2>
    </div>
    <div class="mt-250 industry-platform__figure" style="background-image:url(/sites/default/files/inline-images/bHa8bgBb3kpTvS0g4wTTIKEzeGKYsoEEJ4RPAyFRNO2X7LL2z6.jpg)">
        <img src="/sites/default/files/inline-images/hqakh28NXEHlucnl3KxJyo7XdVEbdeKysD6MKd9RwopS98kJd4.png" width="1408" height="649" alt="" class="industry-platform__image">
    </div>
</div>
{% endif %}

{% if theme == 'White' %}
<div class="mt-500 industry-platform">
    <div class="grid-cont grid-cont--xl">
        <h2 class="h2" >{{ content.field_egnyte_platform__title[0] }}</h2>
    </div>
    <div class="mt-250 industry-platform__figure" style="background-image:url(/sites/default/files/inline-images/bHa8bgBb3kpTvS0g4wTTIKEzeGKYsoEEJ4RPAyFRNO2X7LL2z6.jpg)">
        <img src="/sites/default/files/inline-images/hqakh28NXEHlucnl3KxJyo7XdVEbdeKysD6MKd9RwopS98kJd4.png" width="1408" height="649" alt="" class="industry-platform__image">
    </div>
</div>
{% endif %}

