<div class="announcements">
  <div class="grid-cont grid-cont--xl">
     <div data-anim-name="fadeInUp" data-anim-delay="1s" id="announcements__carousel" class="announcements__carousel slick-initialized slick-slider slick-dotted">
      {{ content.field_egnyte_carousel_cta__wdg }}
    </div>
  </div>
</div>